.Bubble {
  background-color: black;
  font-size: 20px;
  font-weight: 700;
  box-shadow:
    0 0 10px 10px rgba(36, 137, 136),
    0 0 30px 10px rgba(36, 137, 136);
  animation: expand cubic-bezier(0.02, 0.42, 0.31, 0.97);
  animation-fill-mode: backwards;

  .content {
    animation: reveal ease;
    animation-fill-mode: backwards;
  }
}

@keyframes expand {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
